*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

body{
	background: #fff;
	font-family: "Montserrat", Sans-serif;
	font-size: 16px;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header .contenedor-logo-menu{
	margin: 0 auto;
	text-align: center;
}

header .contenedor-logo-menu .logo{
    padding: 10px 0px;
}

header .contenedor-logo-menu .menu{
	background-color: #1565c0;
	padding: 10px;
}

header .contenedor-logo-menu .menu a{
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    padding-bottom: 6px;
    font-size: 18px;
}

header .contenedor-logo-menu .menu a:hover{
    border-bottom: 2px solid #fff;
}

header .contenedor-texto{
	display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    background: url('../img/banner1.jpg') #006064;
    background-size:cover;
    background-attachment: fixed;
    background-position: center 0;
    height: 350px;
}

header .contenedor-texto .texto{
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-top: 90px;
}

header .contenedor-texto .texto .texto1{
	font-size: 50px;
	font-weight: 800;
}

.main {
    background: url('../img/bg-textura.png');
    background-repeat: repeat;
}

.main .descripcion{
	text-align: justify;
}

.main .descripcion .titulo{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #1565c0;
}

.main .unidades .titulo{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #1565c0;
}

.main .unidades .caja-unidades{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.main .unidades .item-unidad{
    flex: 1 1 30%;
    background: #fff;
    margin: 5px;
    min-height: 400px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.35);
    transform: scale(1);
    transition: 0.4s ease;
}

.main .unidades .item-unidad .img-unidad{
    max-width: 120px;
    display: inline-block;
    margin-bottom: 10px;
}

.main .unidades .item-unidad .texto-unidad{
    padding: 0 20px;
    font-size: 15px;
    text-align: center;
    list-style: none;
}

.main .unidades .item-unidad .btn-infounidad{
    display: inline-block;
    background-color: #004669;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    width: 180px;
    box-shadow: 0px 3px 0px #2c3e50;
    border-radius: 5px;
}

.main .unidades .item-unidad .btn-infounidad:hover{
    box-shadow: none;
    background-color: #1565c0;
}

footer .redes-sociales{
    background: #1565c0;
    padding: 60px 0;
}

footer .redes-sociales .contenedor{
    display: flex;
    justify-content: center;
}

footer .redes-sociales a{
    color: #fff;
    text-align: center;
    width: 100px;
    padding: 5px 0;
    border-radius: 3px;
    font-size: 30px;
    margin: 10px 20px;
}

footer .redes-sociales .twitter:hover{background: #1da1f2;}

footer .redes-sociales .facebook:hover{background: #3b5998;}

footer .redes-sociales .youtube:hover{background: #cd201f;}


footer .copyright{
    background: #212121;
}

footer .copyright .txt-copyright{
    text-align: center;
    padding: 15px 0;
    color: #fff;
}

.main .lecturas{
	text-align: justify;
}

.main .lecturas .titulo{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #1565c0;
}

.main .lecturas .img-lectura{
    max-width: 200px;
    display: block;
    margin: auto;
}

.main .videos{
	text-align: center;
}

.main .videos .titulo{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #1565c0;
}

.main .autor .contenedor-tarjeta{
    margin: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .contenedor-tarjeta .tarjeta{
    background: #fff;
    display: flex;
    max-width: 600px;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,.2);
}

.main .tarjeta .tarjeta1{
    border-right: 1px solid #ddd;
}

.main .tarjeta .tarjeta2{
    background: #fbfbfb;
}

.main .tarjeta .tarjeta1, .main .tarjeta .tarjeta2{
    padding: 20px;
    text-align: center;
}

.main .tarjeta .tarjeta1 a{
    position: relative;
    display: block;
}

.main .tarjeta .tarjeta1 a img{
    border-radius: 50%;
    max-width: 130px;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.06);
}

.main .tarjeta .tarjeta1 .nombre{
    color: #004669;
    font-size: 22px;;
}

.main .tarjeta .tarjeta2 .titulo{
    color: #004669;
    font-size: 18px;
}

.main .tarjeta .tarjeta2 p{
    margin: 30px 10px;
}